<ul class="pl-7" *ngFor="let f of files">
    <li *ngIf="f.files!='' && f.files.length>0;else fname" class="cursor-pointer select-none">
        <p (click)="triggerFold(f)" class="font-bold text-orange-500"><span *ngIf="!f.fold;else plus">-</span><ng-template #plus>+</ng-template> {{f.name}}</p>
        <app-folder [editable]="editable" (fileClicked)="showFile($event)" class="text-[0.85em]" [files]="!f.fold?f.files:[]"></app-folder>
    </li>
    <ng-template class="m-1" #fname>
        <app-file (fileClicked)="showFile(f)" *ngIf="f.name.split('.').length>1" [editable]="editable" [file]="f"></app-file>
    </ng-template>
</ul>